body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-90px;
  width:1800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:4320px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:1800px;
  height:4320px;
  display:flex;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:1400px;
  background:inherit;
  background-color:rgba(129, 211, 248, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:360px;
  width:1600px;
  height:1400px;
  display:flex;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u86_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u87 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u87_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u90 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u90_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u92_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:640px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u97_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u99_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:840px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:1040px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:1240px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:160px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:50px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:420px;
  width:400px;
  height:160px;
  display:flex;
  font-size:50px;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  font-family:'Merriweather Bold', 'Merriweather', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  opacity:0.3;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  opacity:0.3;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(114, 9, 183, 0.4);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1490px;
  top:1440px;
  width:200px;
  height:200px;
  display:flex;
  opacity:0.3;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1242px;
  top:475px;
  width:48px;
  height:50px;
  display:flex;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:475px;
  width:48px;
  height:50px;
  display:flex;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:300px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:0px;
  width:1800px;
  height:300px;
  display:flex;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:300px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:4020px;
  width:1800px;
  height:300px;
  display:flex;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:50px;
  width:200px;
  height:200px;
  display:flex;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
